#main {
    display: flex;
}

#sidebar {
    width: 30%;
    height: auto;
    margin-left: 50px;
}

#orderpage {
    width: 65%;
    height: auto;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}

#modal {
    width: 50%;
    height: 500px;
    margin: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.website {
    height: 1000vh;
}

.img {
    width: 20px;
    height: 20px;
    padding: 0px 20px;
}

.name {}

.side {
    display: flex;
    justify-content: left;
    align-items: center;
}

#modal>input {
    padding: 10px 200px 10px 5px;
    margin: 10px 20px 10px 10px;
    margin-left: 20%;
    border-radius: 7px;
    border: 1px solid #5e5e69;
}

#close_btn {

    margin-left: 620px;
    margin-top: 10px;
}

#submit {
    display: block;
    background-color: #4fbb90;
    border-radius: 10px;
    border: none;
}

#profile {
    margin-left: 20px;
    font-family: Quicksand, sans-serif;
    font-size: 20px
}

#shopping {
    padding: 10px 30px;
    background-color: #4fbb90;
    border-radius: 7px;
    border: none;
    color: white;

}