#navbar {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}

#logo {
    width: 150px;
    height: 120px;
}

#search {
    width: 600px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid #dddddd;
    padding-left: 15px;

}

::placeholder {

    color: #949494;
}

.name {
    color: #949494;
    padding-left: 5px;
    font-family: Quicksand, sans-serif;
    font-size: 13px;
    cursor: pointer;
}

.name:hover {
    color: black;
}

#search_icon {
    margin-left: -40px;
    cursor: pointer;
}

#gray_line {

    margin-top: -15px;
    border: 0.5px solid #dddddd;
}

#fruits {
    border: none;
    padding: 2px 100px 2px 2px;
}

#cart_div {
    width: 30%;
    height: auto;
}

#last {
    margin-top: 60px;
}

#navbar1>ul a:hover {
    color: #4fbb90;
}



#navbar1>ul>li {
    float: left;
    /* padding: 5px 7px; */
    list-style: none;


}

#navbar1>ul>li a {
    text-decoration: none;
    font-family: Quicksand, sans-serif;
    font-size: 13px;
    padding: 0px 10px;
    display: grid;
    background-color: white;
    justify-content: flex-start;
    /* font-weight: bolder; */
}


#navbar1 ul ul {
    display: none;
}

#navbar1>ul>li>ul li {
    float: center;
    /* padding: 10px;
    margin: 10px; */
    font-family: Quicksand, sans-serif;
    font-size: 13px;
}





#navbar1>ul>li:hover>ul {
    display: block;

    position: absolute;
    /* margin-bottom: 0; */

    margin-left: -40px;
    font-size: 13px;



}








#navbar1>ul>li>ul li {
    list-style: none;
    margin-top: 20px;
    /* float: left; */




}



#container1 {
    margin-left: 45%;
    margin-top: 30px;
    /* width: 85%; */
    /* margin: auto; */
    text-align: center;
}